In [338]:
import pandas as pd
df = pd.read_csv("mockdata.csv", low_memory=False)
unique_uics = df.UIC.unique() 
print("Total rows: {0}  Total columns: {1}  Total UICs: {2}".format(df.shape[0], df.shape[1], unique_uics.size))
print(list(df))

Total rows: 110  Total columns: 21  Total UICs: 12
['RICDA', 'UIC', 'LNAME', 'ParentUIC', 'Parent level to child', 'Parent Lname', 'UTC', 'MJCOM_NAME', 'SVC', 'COMPOCD', 'TREAD', 'READY', 'REASN', 'PRRAT', 'PRRES', 'ESRAT', 'ESRES', 'ERRAT', 'ERRES', 'TRRAT', 'TRRES']

In [339]:
df.head()

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
0,2015-10-19,A1,Aone,A1,0,Aone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
1,2015-10-19,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
2,2015-10-19,A1,Aone,C1,2,Cone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
3,2015-10-19,A1,Aone,D1,3,Done,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
4,2015-10-19,A1,Aone,D2,3,Dtwo,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN

In [340]:
df[df['UIC'] == 'E1']['Parent level to child'].isin([1]).any()

False

In [326]:
#find root UICs
def get_root_nodes():
    root_nodes = []
    for uic in unique_uics:
        #print(uic)
        if not (df[df['UIC'] == uic]['Parent level to child'].isin([1]).any()):
            root_nodes.append(uic)
    return(root_nodes)
        
    #if 1 in (df['Parent level to child'] == uic):
    
print(get_root_nodes())

['E1']

In [341]:
df = df.loc[(df['Parent level to child'] == 1) | (df['UIC'].isin(get_root_nodes()))]

In [342]:
df

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
1,2015-10-19,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
7,2015-10-22,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,2,X,1,NaN,2,S86,2,R22,2,T34
12,2015-10-23,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P30,2,S67,2,R25,2,T13
13,2015-10-23,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P30,2,S67,2,R25,2,T13
16,2015-10-24,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,2,X,2,P50,2,S68,2,R73,2,T13
18,2015-10-25,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,P,3,P80,2,S57,2,R39,2,T14
19,2015-10-30,E1,Eone,E1,0,Eone,XYZ,ANG,F,G,...,3,P,3,P70,2,S61,2,R31,2,T52
21,2015-10-19,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R65,1,NaN
27,2015-10-19,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R19,3,T29
33,2015-10-21,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,3,P,3,P54,2,S97,2,R88,1,NaN
38,2015-10-19,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,3,X,3,P95,3,S39,1,NaN,1,NaN
44,2015-10-20,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T49
50,2015-10-19,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,P,4,P45,2,S21,4,R16,1,NaN
56,2015-11-20,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S85,1,NaN,1,NaN
62,2015-11-23,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R53,3,T13
67,2015-11-24,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
68,2015-11-24,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
71,2015-11-25,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P21,3,S40,2,R54,2,T29
73,2015-11-26,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P81,3,S99,2,R54,2,T29
74,2015-12-01,E1,Eone,E1,0,Eone,XYZ,ANG,F,G,...,3,P,3,P49,1,NaN,1,NaN,2,T34
76,2015-11-20,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R80,1,NaN
82,2015-11-20,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R44,3,T67
88,2015-11-22,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,4,P,4,P19,2,S50,1,NaN,1,NaN
93,2015-11-20,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,4,S,3,P43,4,S65,1,NaN,1,NaN
99,2015-11-21,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T78
105,2015-11-20,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,X,4,P18,3,S98,4,R69,1,NaN

In [287]:
type(df['RICDA'].iloc[0])

str

In [288]:
df['RICDA'] = pd.to_datetime(df['RICDA'])

/Users/bcbarsness/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [289]:
df

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
1,2015-10-19,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
7,2015-10-22,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,2,X,1,NaN,2,S86,2,R22,2,T34
12,2015-10-23,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P30,2,S67,2,R25,2,T13
13,2015-10-23,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P30,2,S67,2,R25,2,T13
16,2015-10-24,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,2,X,2,P50,2,S68,2,R73,2,T13
18,2015-10-25,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,P,3,P80,2,S57,2,R39,2,T14
21,2015-10-19,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R65,1,NaN
27,2015-10-19,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R19,3,T29
33,2015-10-21,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,3,P,3,P54,2,S97,2,R88,1,NaN
38,2015-10-19,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,3,X,3,P95,3,S39,1,NaN,1,NaN
44,2015-10-20,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T49
50,2015-10-19,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,P,4,P45,2,S21,4,R16,1,NaN
56,2015-11-20,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S85,1,NaN,1,NaN
62,2015-11-23,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R53,3,T13
67,2015-11-24,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
68,2015-11-24,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
71,2015-11-25,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P21,3,S40,2,R54,2,T29
73,2015-11-26,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P81,3,S99,2,R54,2,T29
76,2015-11-20,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R80,1,NaN
82,2015-11-20,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R44,3,T67
88,2015-11-22,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,4,P,4,P19,2,S50,1,NaN,1,NaN
93,2015-11-20,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,4,S,3,P43,4,S65,1,NaN,1,NaN
99,2015-11-21,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T78
105,2015-11-20,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,X,4,P18,3,S98,4,R69,1,NaN

In [344]:
df[df.groupby(['UIC'])['RICDA'].transform(max) == df['RICDA']]

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
56,2015-11-20,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S85,1,NaN,1,NaN
62,2015-11-23,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R53,3,T13
67,2015-11-24,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
68,2015-11-24,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
71,2015-11-25,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P21,3,S40,2,R54,2,T29
73,2015-11-26,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P81,3,S99,2,R54,2,T29
74,2015-12-01,E1,Eone,E1,0,Eone,XYZ,ANG,F,G,...,3,P,3,P49,1,NaN,1,NaN,2,T34
76,2015-11-20,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R80,1,NaN
82,2015-11-20,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R44,3,T67
88,2015-11-22,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,4,P,4,P19,2,S50,1,NaN,1,NaN
93,2015-11-20,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,4,S,3,P43,4,S65,1,NaN,1,NaN
99,2015-11-21,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T78
105,2015-11-20,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,X,4,P18,3,S98,4,R69,1,NaN

In [335]:
df = df[idx]
df

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
56,2015-11-20,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S85,1,NaN,1,NaN
62,2015-11-23,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R53,3,T13
67,2015-11-24,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
68,2015-11-24,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P89,1,NaN,2,R64,2,T12
71,2015-11-25,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P21,3,S40,2,R54,2,T29
73,2015-11-26,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P81,3,S99,2,R54,2,T29
74,2015-12-01,E1,Eone,E1,0,Eone,XYZ,ANG,F,G,...,3,P,3,P49,1,NaN,1,NaN,2,T34
76,2015-11-20,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,NaN,1,NaN,4,R80,1,NaN
82,2015-11-20,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,NaN,1,NaN,2,R44,3,T67
88,2015-11-22,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,4,P,4,P19,2,S50,1,NaN,1,NaN
93,2015-11-20,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,4,S,3,P43,4,S65,1,NaN,1,NaN
99,2015-11-21,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,NaN,1,NaN,1,NaN,2,T78
105,2015-11-20,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,X,4,P18,3,S98,4,R69,1,NaN

In [336]:
df = df.where((pd.notnull(df)), 'None')

In [337]:
df.to_csv('out.csv')

In [233]:
type(df['RICDA'].iloc[0])

pandas.tslib.Timestamp

In [237]:
df

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
56,2015-11-20,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,None,3,S85,1,None,1,None
76,2015-11-20,A2,Atwo,B1,1,Bone,XYZ,ANG,F,G,...,4,R,1,None,1,None,4,R80,1,None
82,2015-11-20,A3,Athree,B1,1,Bone,XYZ,ANG,F,G,...,3,T,1,None,1,None,2,R44,3,T67
93,2015-11-20,A4,Afour,B1,1,Bone,XYZ,ANG,F,G,...,4,S,3,P43,4,S65,1,None,1,None
99,2015-11-21,A5,Afive,B1,1,Bone,XYZ,ANG,F,G,...,2,T,1,None,1,None,1,None,2,T78
105,2015-11-20,A6,Asix,B1,1,Bone,XYZ,ANG,F,G,...,4,X,4,P18,3,S98,4,R69,1,None
62,2015-11-23,B1,Bone,C1,1,Cone,XYZ,ANG,F,G,...,3,T,1,None,1,None,2,R53,3,T13
88,2015-11-22,B2,Btwo,C1,1,Cone,XYZ,ANG,F,G,...,4,P,4,P19,2,S50,1,None,1,None
67,2015-11-24,C1,Cone,D1,1,Done,XYZ,ANG,F,G,...,2,X,2,P89,1,None,2,R64,2,T12
68,2015-11-24,C1,Cone,D2,1,Dtwo,XYZ,ANG,F,G,...,2,X,2,P89,1,None,2,R64,2,T12
71,2015-11-25,D1,Eone,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P21,3,S40,2,R54,2,T29
73,2015-11-26,D2,Dtwo,E1,1,Eone,XYZ,ANG,F,G,...,3,S,2,P81,3,S99,2,R54,2,T29

In [122]:
recent_date

Timestamp('2015-11-26 00:00:00')

In [123]:
df.head()

,RICDA,UIC,LNAME,ParentUIC,Parent level to child,Parent Lname,UTC,MJCOM_NAME,SVC,COMPOCD,...,READY,REASN,PRRAT,PRRES,ESRAT,ESRES,ERRAT,ERRES,TRRAT,TRRES
0,2015-10-19,A1,Aone,A1,0,Aone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
1,2015-10-19,A1,Aone,B1,1,Bone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
2,2015-10-19,A1,Aone,C1,2,Cone,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
3,2015-10-19,A1,Aone,D1,3,Done,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN
4,2015-10-19,A1,Aone,D2,3,Dtwo,XYZ,ANG,F,G,...,3,S,1,NaN,3,S84,1,NaN,1,NaN